<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fixed-user/layout::head">
    <title>Home</title>
</head>

<body scroll="no">
<div class="loading-overlay"><img alt="Preloading WealthLand"
                                  src="https://batdongsan8.trustweb.vn/wp-content/themes/flatsome-child/images/preloader.gif"/>
</div>
<header th:replace="fixed-user/layout::header">
</header>
<main>
    <div class="page-header">
        <h2 class="page-title text-3">Giới thiệu</h2>
    </div>
    <article class="container intro-details">
        <article class="container intro-details" th:utext="${estate.description}">

        </article>
    </article>
    <section class="gallery-room container">
        <h2 class="title text-3 text-medium" style="margin-left: 1.7rem;margin-bottom: 1rem; width: 100%">Dự án tiêu biểu</h2>
        <div class="row" style="width: 100%">
            <div class="col-12 col-md-4">
                <th:block th:each="row : ${estatess}">
                <figure class="gallery-figure-room">
                    <img th:src="@{upload/__${row.image}__}" />
                    <div class="title text-medium"><span  th:text="${row.name}"></span></div><a class="float-title hover-darken ease-out" th:href="@{/estate?id=__${row.id}__}"> Chi tiết</a>
                </figure>
                </th:block>
            </div>
        </div>
    </section>
</main>
<footer th:replace="fixed-user/layout::footer"></footer>
<script src="assets_user/js/all.js"></script>
<th:block th:replace="fixed-user/layout::js">
</th:block>
</body>
</html>