<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/layout::head">
    <title>Contact</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header th:replace="admin/layout::header-mobile"></header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside th:replace="admin/layout::header-slidebar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/layout::header-desktop"></header>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="float-right">
                                <a methods="GET" th:href="@{/web/contacts/add}"
                                   class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus">ADD NEW Contact</i></a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive table--no-card m-b-30">
                                <table class="table table-borderless table-striped table-earning">

                                    </br>
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Text</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="contact : ${contacts}">
                                        <td th:text="${contact.name}"></td>
                                        <td th:text="${contact.email}"></td>
                                        <td th:text="${contact.address}"></td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a th:href="@{/web/contacts/edit/__${contact.id}__ }" class="item"
                                                   data-toggle="tooltip" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>

                                                <a th:href="@{/web/contacts/delete/__${contact.id}__}" class="item"
                                                   data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="float-right">
                                <a th:href="@{'/web/contacts/'(page=${contacts.number - 1})}" th:if="${contacts.hasPrevious()}">Previous</a>
                                <span th:text="${contacts.number + 1}"></span>/<span th:text="${contacts.totalPages}"></span>
                                <a th:href="@{'/web/contacts/'(page=${contacts.number + 1})}" th:if="${contacts.hasNext()}">Next</a>
                            </div>
                        </div>
                        <!-- END USER DATA-->


                    </div>
                    <div th:replace="admin/layout::footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<th:block th:replace="admin/layout::block-script">
</th:block>

</body>

</html>
<!-- end document-->
