<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="admin/layout::head">
    <title>Layout</title>
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header th:replace="admin/layout::header-mobile"></header>
    <!-- END HEADER MOBILE-->
    <aside th:replace="admin/layout::header-slidebar"></aside>
    <!-- MENU SIDEBAR-->

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/layout::header-desktop"></header>

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="float-right">
                                <a methods="GET" th:href="@{/web/layouts/add}"
                                   class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus">ADD NEW Partner</i></a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive table--no-card m-b-30">
                                <table class="table table-borderless table-striped table-earning">

                                    </br>
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Tab</th>
                                        <th>Type</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="partner : ${layouts}">
                                        <td th:text="${partner.name}"></td>
                                        <td th:text="${partner.tab}"></td>
                                        <td th:text="${partner.type}"></td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a th:href="@{/web/layouts/detail/__${partner.id}__ }" class="item" data-toggle="tooltip" data-placement="top" title="Detail">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a th:href="@{/web/layouts/edit/__${partner.id}__ }" class="item" data-toggle="tooltip" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>

                                                <a th:href="@{/web/layouts/delete/__${partner.id}__}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                        <div class="float-right">
                            <a th:href="@{'/web/partners/'(page=${layouts.number - 1})}" th:if="${layouts.hasPrevious()}">Previous</a>
                            <span th:text="${layouts.number + 1}"></span>/<span th:text="${layouts.totalPages}"></span>
                            <a th:href="@{'/web/partners/'(page=${layouts.number + 1})}" th:if="${layouts.hasNext()}">Next</a>
                        </div>
                        </div>
                        <!-- END USER DATA-->



                    </div>
                    <div th:replace="admin/layout::footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<th:block th:replace="admin/layout::block-script" >
</th:block>

</body>

</html>
<!-- end document-->
