<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/layout::head">
    <!-- Title Page-->
    <title>Banner</title>

    <  <!-- Fontfaces CSS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

    <link th:href="@{assets-admin/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{assets-admin/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{assets-admin/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet"
          media="all">
    <link th:href="@{assets-admin/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{assets-admin/css/theme.css}" rel="stylesheet" media="all">

</head>
<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header th:replace="admin/layout::header-mobile"></header>
    <!-- END HEADER MOBILE-->
    <aside th:replace="admin/layout::header-slidebar"></aside>
    <!-- MENU SIDEBAR-->

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/layout::header-desktop"></header>

        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="float-right">
                                <a methods="GET" th:href="@{/web/banners/add}"
                                   class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus">ADD NEW Banner</i></a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive table--no-card m-b-30">
                                <table class="table table-borderless table-striped table-earning">

                                    </br>
                                    <thead>
                                    <tr>
                                        <th>Title 1</th>
                                        <th>Title 2</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="banner : ${banners}">
                                        <td th:text="${banner.title1}"></td>
                                        <td th:text="${banner.title2}"></td>
                                        <td th:utext="${banner.description}"></td>
                                        <td>
                                            <th:block th:if="${banner.image}">
                                                <img th:src="@{/upload/__${banner.image}__}" th:height="40px"
                                                     th:width="40px">
                                            </th:block>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <!--                                                                                    <a th:href="@{/web/banners/detail/__${banner.id}__ }" class="item" data-toggle="tooltip" data-placement="top" title="Detail">-->
                                                <!--                                                                                        <i class="fas fa-eye"></i>-->
                                                <!--                                                                                    </a>-->
                                                <a th:href="@{/web/banners/edit/__${banner.id}__ }" class="item"
                                                   data-toggle="tooltip" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>

                                                <a th:href="@{/web/banners/delete/__${banner.id}__}" class="item"
                                                   data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- END USER DATA-->


                    </div>
                    <div th:replace="admin/layout::footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<th:block th:replace="admin/layout::block-script">
</th:block>

</body>

</html>
<!-- end document-->
