<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="admin/layout::head">
    <title>Project</title>
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header th:replace="admin/layout::header-mobile"></header>
    <!-- END HEADER MOBILE-->
    <aside th:replace="admin/layout::header-slidebar"></aside>
    <!-- MENU SIDEBAR-->

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/layout::header-desktop"></header>


        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Project</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form th:action="@{/web/projects/detail}" method="post" enctype="multipart/form-data" class="form-horizontal" th:object="${projects}">
                                        <input type="hidden" th:field="*{id}">
                                        <div class="row form-group">
                                        </div>
                                        <div class="card-body">
                                            <div class="typo-headers">
                                                <h1  th:text="${projects.name}" class="pb-2 display-4"></h1>
                                            </div>
                                            <th:block th:if="${projects.image}">
                                                <img th:src="@{/upload/__${projects.image}__}" >
                                            </th:block>
                                            <div class="vue-lists">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li>
                                                                <label class=" form-control-label">Category:</label>
                                                                <label th:text="${projects.category.name}"></label>
                                                            </li>
                                                            <li>
                                                                <label class=" form-control-label">Time:</label>
                                                                <label th:text="${projects.checkin}"></label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6 text-left">
                                                        <div>
                                                            <ul class="vue-ordered">
                                                                <li>
                                                                    <label class=" form-control-label">Status:</label>
                                                                    <label th:text="${projects.status}"></label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="typo-articles">
                                                <p th:utext="${projects.description}"></p>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a href="/web/projects/" class="btn btn-primary btn-sm">return</a>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div th:replace="admin/layout::footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block th:replace="admin/layout::block-script" >
</th:block>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
</body>

</html>
<!-- end document-->
