<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="admin/layout::head">
    <title>News</title>
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header th:replace="admin/layout::header-mobile"></header>
    <!-- END HEADER MOBILE-->
    <aside th:replace="admin/layout::header-slidebar"></aside>
    <!-- MENU SIDEBAR-->

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/layout::header-desktop"></header>


        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>News</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form th:action="@{/web/news/detail}" method="post" enctype="multipart/form-data" class="form-horizontal" th:object="${newss}">
                                        <input type="hidden" th:field="*{id}">
                                        <div class="row form-group">
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Image:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <th:block th:if="${newss.image}">
                                                    <img th:src="@{/upload/__${newss.image}__}" th:height="100px" th:width="100px">
                                                </th:block>
                                            </div>
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Name:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <label th:text="${newss.title1}"></label>
                                            </div>
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Create at:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <label th:text="${newss.checkin}"></label>
                                            </div>
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Category:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <label th:text="${newss.category_news.name}"></label>
                                            </div>
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">fontDes:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <label th:text="${newss.frontDescription}">
                                                </label>
                                            </div>
                                            <div class="col-9 col-md-9">
                                                <label th:utext="${newss.description}"></label>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a href="/web/news/" class="btn btn-primary btn-sm">return</a>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div th:replace="admin/layout::footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block th:replace="admin/layout::block-script" >
</th:block>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
</body>

</html>
<!-- end document-->
