<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <base href="/">

    <!-- Title Page-->
    <title>Category</title>

    <!-- Fontfaces CSS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

    <link th:href="@{assets-admin/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{assets-admin/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{assets-admin/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{assets-admin/css/theme.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/css/datatable.css}" rel="stylesheet" media="all">

</head>
<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header th:replace="admin/layout::header-mobile"></header>
    <!-- END HEADER MOBILE-->
    <aside th:replace="admin/layout::header-slidebar"></aside>
    <!-- MENU SIDEBAR-->

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/layout::header-desktop"></header>

        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Category</strong>
                                </div>
                                <div class="card-body card-block">
                                    <th:block th:switch="${error}">
                                        <div th:case="success" th:utext="${message}" class="alert alert-success">

                                        </div>
                                        <div th:case="error" th:utext="${message}" class="alert alert-danger">
                                        </div>

                                    </th:block>
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" th:action="@{/web/categorys/}+${action}" th:object="${categorys}">
                                        <input type="hidden" th:field="*{id}">
                                        <div class="row form-group">
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="name" class=" form-control-label">Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="name" name="text-input" placeholder="Text" class="form-control" th:field="*{name}" required>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Description</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <textarea type="text" required class="form-control" placeholder="Description" th:field="*{description}"></textarea>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Submit
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                <i class="fa fa-ban"></i> Reset
                                            </button>
                                            <a href="/web/categorys/" class="btn btn-primary btn-sm">return</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="admin/layout::footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block th:replace="admin/layout::block-script" >
</th:block>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
<script>
    $('#description').summernote({
        placeholder: 'Text here',
        tabsize: 2,
        height: 100
    });
</script>
</body>

</html>
<!-- end document-->
