<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <base href="/">

    <!-- Title Page-->
    <title>Estate</title>

    <!-- Fontfaces CSS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

    <link th:href="@{assets-admin/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet"
          media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{assets-admin/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{assets-admin/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet"
          media="all">
    <link th:href="@{assets-admin/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{assets-admin/css/theme.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/css/datatable.css}" rel="stylesheet" media="all">

</head>
<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header th:replace="admin/layout::header-mobile"></header>
    <!-- END HEADER MOBILE-->
    <aside th:replace="admin/layout::header-slidebar"></aside>
    <!-- MENU SIDEBAR-->

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/layout::header-desktop"></header>
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <th:block th:switch="${error}">
                            <div th:case="success" th:utext="${message}" class="alert alert-success">

                            </div>
                            <div th:case="error" th:utext="${message}" class="alert alert-danger">
                            </div>

                        </th:block>
                        <div class="col-md-12 col-sm-12">
                            <div class="float-right">
                                <a th:href="@{/web/estates/}" class="au-btn au-btn-icon au-btn--green au-btn--small">List
                                    Estate</a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Estate</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form th:action="@{/web/estates/}+${action}" method="post" enctype="multipart/form-data"
                                          class="form-horizontal" th:object="${estates}">
                                        <input type="hidden" th:field="*{id}">
                                        <div class="row form-group">
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="name" class=" form-control-label">Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="name" name="text-input" placeholder="Text"
                                                       class="form-control" th:field="*{name}" minlength="3" required>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="frontdescription" class=" form-control-label">Front Description</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="frontdescription" name="text-input" placeholder="Text"
                                                       class="form-control" th:field="*{frontDescription}" minlength="10" required>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <!--                                        <div class="row form-group">-->
                                        <!--                                            <div class="col col-md-3">-->
                                        <!--                                                <label for="partner" class=" form-control-label">Company</label>-->
                                        <!--                                            </div>-->
                                        <!--                                            <div class="col-12 col-md-9">-->
                                        <!--                                                <select type="text" id="partner" name="text-input" placeholder="Text" class="form-control" th:field="*{partner}"></select>-->
                                        <!--                                                <small class="form-text text-muted"></small>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <!--                                        <div class="row form-group">-->
                                        <!--                                            <div class="col col-md-3">-->
                                        <!--                                                <label for="bank" class=" form-control-label">Bank</label>-->
                                        <!--                                            </div>-->
                                        <!--                                            <div class="col-12 col-md-9">-->
                                        <!--                                                <select type="text" id="bank" name="text-input" class="form-control" th:field="*{bank}"></select>-->
                                        <!--                                                <small class="form-text text-muted"></small>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Direction</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select type="text" id="direction" name="text-input"
                                                        class="form-control" th:field="*{direction}">
                                                    <option value="East">East</option>
                                                    <option value="West">West</option>
                                                    <option value="South">South</option>
                                                    <option value="North">North</option>
                                                    <option value="North">East-North</option>
                                                    <option value="North">East-South</option>
                                                    <option value="North">West-North</option>
                                                    <option value="North">West-South</option>
                                                </select>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Hot</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="checkbox" id="hot" name="vehicle1" value="true" th:field="*{hot}">
                                                <label for="hot">Hot</label><br>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="area" class=" form-control-label">Area</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="number" id="area" name="text-input" placeholder="Number"
                                                       class="form-control" th:field="*{area}" required>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <th:block th:if="${action=='edit'}">
                                            <div class="form-group row ">
                                                <label class="control-label col-md-3 col-sm-3 ">create At</label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <input type="text" th:value="${estates.checkin}" th:field = "*{checkin}"  class="form-control">
                                                </div>
                                            </div>
                                        </th:block>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="area" class=" form-control-label">Status</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select type="text" id="areaValue" name="text-input"
                                                        class="form-control" th:field="*{status}">
                                                    <option value="0">Active</option>
                                                    <option value="1">Unactive</option>
                                                </select>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="price" class=" form-control-label">Price</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="number" id="price" name="text-input" placeholder="Number"
                                                       class="form-control" th:field="*{price}" required>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="category" class=" form-control-label">Category</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select type="text" id="category" name="text-input" placeholder="Text"
                                                        class="form-control" th:field="*{category}">
                                                </select>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="bedRoom" class=" form-control-label">Bedroom</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="number" id="bedRoom" name="text-input" placeholder="Text"
                                                       class="form-control" th:field="*{bedroom}">
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="bedRoom" class=" form-control-label">Bathroom</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="number" id="bathRoom" name="text-input" placeholder="Text"
                                                       class="form-control" th:field="*{bathroom}">
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="province" class=" form-control-label">Province</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select type="text" id="province" name="text-input" placeholder="Text"
                                                        class="form-control" th:field="*{province}">
                                                </select>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="city" class=" form-control-label">City</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select type="text" id="city" name="text-input" placeholder="Text"
                                                        class="form-control" th:field="*{city}">
                                                </select>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Description</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <textarea type="text" class="form-control"
                                                          th:field="*{description}"></textarea>
                                            </div>
                                        </div>
                                        <th:block th:if="${action=='edit'}">
                                            <div class="form-group row ">
                                                <label class="control-label col-md-3 col-sm-3 ">Current Image</label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <input type="hidden" th:field="*{image}" class="form-control">
                                                    <img th:src="@{/upload/__*{image}__}" class="image" height="120">
                                                </div>
                                            </div>
                                        </th:block>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="file-input" class=" form-control-label">File input</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="file" id="file-input" name="file-input"
                                                       class="form-control-file" th:field="*{fileImage}">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Submit
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                <i class="fa fa-ban"></i> Reset
                                            </button>
                                            <a href="/web/estates/" class="btn btn-primary btn-sm">return</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div th:replace="admin/layout::footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="admin/layout::block-script">
</th:block>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
<script>
    $('#description').summernote({
        placeholder: 'Text here',
        tabsize: 2,
        height: 100
    });
    var provinces = {} || provinces;
    var estates = {} || estates;
    provinces.selectProvince = function () {
        $.ajax({
            url: 'https://wealthland.herokuapp.com/api/provinces',
            method: 'GET',
            datatype: 'JSON',
            success: function (data) {
                $('#province').empty();
                $('#province').append(
                    `<option value="">--Select Province--</option>`
                );
                $.each(data, function (i, province) {
                    $('#province').append(
                        `<option value="${province.id}">${province.name}</option>`
                    )
                })
            }
        });
        $("#province").change(function () {
                var provinceId = $('#province').val();
                $.ajax({
                    url: 'https://wealthland.herokuapp.com/api/cityAddress/' + provinceId,
                    method: 'GET',
                    datatype: 'JSON',
                    success: function (data) {
                        $('#city').empty();
                        $('#city').append(
                            `<option value="">--Select City--</option>`
                        );
                        $.each(data, function (i, city) {
                            $('#city').append(
                                `<option value="${city.id}">${city.name}</option>`
                            )
                        })
                    }
                });
            }
        )
    };
    estates.initCategory = function () {
        $.ajax({
            url: "https://wealthland.herokuapp.com/api/categorys",
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#category').empty();
                $.each(data, function (i, v) {
                    $('#category').append(
                        "<option value='" + v.id + "'>" + v.name + "</option>"
                    );
                });
            }
        });
    };

    estates.initBank = function () {
        $.ajax({
            url: "https://wealthland.herokuapp.com/api/banks",
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#bank').empty();
                $('#bank').append(
                    `<option value="">--Select Bank--</option>`
                );
                $.each(data, function (i, v) {
                    $('#bank').append(
                        "<option value='" + v.id + "'>" + v.name + "</option>"
                    );
                });
            }
        });
    };
    estates.initPartner = function () {
        $.ajax({
            url: "https://wealthland.herokuapp.com/api/partners",
            method: "GET",
            dataType: "json",
            success: function (data) {
                $('#partner').empty();
                $('#partner').append(
                    `<option value="">--Select Partner--</option>`
                );
                $.each(data, function (i, v) {
                    $('#partner').append(
                        "<option value='" + v.id + "'>" + v.name + "</option>"
                    );
                });
            }
        });
    };
    $(document).ready(function () {
        provinces.selectProvince();
        estates.initCategory();
        estates.initBank()
        estates.initPartner()
    });
</script>
</body>

</html>
<!-- end document-->
