<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="admin/layout::head">
    <title>Estates</title>
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header th:replace="admin/layout::header-mobile"></header>
    <!-- END HEADER MOBILE-->
    <aside th:replace="admin/layout::header-slidebar"></aside>
    <!-- MENU SIDEBAR-->

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/layout::header-desktop"></header>


        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Estates</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form th:action="@{/web/estates/detail}" method="post" enctype="multipart/form-data" class="form-horizontal" th:object="${estates}">
                                        <input type="hidden" th:field="*{id}">
                                        <div class="row form-group">
                                        </div>
                                            <div class="card-body">
                                                <div class="typo-headers">
                                                    <h1  th:text="${estates.name}" class="pb-2 display-4"></h1>
                                                </div>
                                                <th:block th:if="${estates.image}">
                                                    <img th:src="@{/upload/__${estates.image}__}" th:height="100px" th:width="100px">
                                                </th:block>
                                                <div class="vue-lists">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <ul>
                                                                <li>
                                                                        <label class=" form-control-label">Category:</label>
                                                                        <label th:text="${estates.category.name}">
                                                                        </label>
                                                                </li>
                                                                <li>
                                                                     <label class=" form-control-label"> Direction:</label>
                                                                    <label th:text="${estates.direction}"></label>
                                                                </li>
                                                                <li>
                                                                    <label class=" form-control-label">Time:</label>
                                                                    <label th:text="${estates.checkin}"></label>
                                                                </li>
                                                                <li>
                                                                    <label class=" form-control-label">Hot:</label>
                                                                    <label th:text="${estates.hot}"></label>
                                                                </li>
                                                                <li>
                                                                    <label class=" form-control-label">Status:</label>
                                                                    <label th:text="${estates.status}"></label>
                                                                </li>
<!--                                                                <li>-->
<!--                                                                    <label class=" form-control-label">Company:</label>-->
<!--                                                                    <label th:text="${estates.partner}"></label>-->
<!--                                                                </li>-->
<!--                                                                <li>-->
<!--                                                                    <label class=" form-control-label">Bank:</label>-->
<!--                                                                    <label th:text="${estates.bank}"></label>-->
<!--                                                                </li>-->
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6 text-left">
                                                            <div>
                                                                <ul class="vue-ordered">
                                                                    <li>
                                                                        <label class=" form-control-label">Price:</label>
                                                                        <label th:text="${estates.price}"></label>
                                                                    </li>
                                                                    <li>
                                                                        <label class=" form-control-label">Area:</label>
                                                                        <label th:text="${estates.area}"></label>
                                                                        <label>m2</label>
                                                                    </li>
                                                                    <li>
                                                                        <label class=" form-control-label">Province:</label>
                                                                        <label th:if="${estates.province}">
                                                                            <p th:text="${estates.province.name}"></p>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label class=" form-control-label">City:</label>
                                                                        <label th:if="${estates.city}">
                                                                            <p th:text="${estates.city.name}"></p>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="typo-articles">
                                                        <p th:utext="${estates.description}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="card-footer">
                                            <a href="/web/estates/" class="btn btn-primary btn-sm">return</a>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div th:replace="admin/layout::footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block th:replace="admin/layout::block-script" >
</th:block>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
</body>

</html>
<!-- end document-->
